/* .slides {
  height: 75vh;
} */

:root {
  --dark-green: #253336;
  --light-blue: #27363B;
  --lighter-blue: #717C80;
}

body {
  overflow-x: hidden;

}



/*NAV*/

.navbar {
  background-color: var(--dark-green);
}

.navbar-brand img {
  height: 50px
}

.menu-mobile{
  background-color: var(--dark-green);
  border: 0;
}

.menu-mobile .bar {
  /* display: block; */
  width: 45px;
  height: 3px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background: #FFF;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .menu-mobile .bar {
    display: block
  }
}
  

#menu-mobile.is-active .bar:nth-child(2){
  opacity: 0;
}

#menu-mobile.is-active .bar:nth-child(1){
  transform: translateY(11px) rotate(45deg)
}

#menu-mobile.is-active .bar:nth-child(3){
  transform: translateY(-11px) rotate(-45deg)
}

/*BANNER*/

.welcomeBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 15rem 0;
}

@media (min-width:576) {
  .welcomeBanner {
    height: 100vh;
  }
}

/*Colocandoo background no pseudoelemento before para poder aplicar um filtro de grayscale apenas a ele*/
.welcomeBanner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('./assets/images/welcome.jpg');
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("./assets/images/welcome.jpg");
  filter: grayscale(80%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  z-index: -10;
}


.welcomeBanner h1 {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.andrePhoto {
  height: 60%;
  width: 60%;
}

@media (min-width: 768px) {
  .andrePhoto {
    height: 50%;
    width: 50%;
  }
}

@media (min-width:1200px) {
  .andrePhoto {
    height: 40%;
    width: 40%;
  }
}


#andre {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

#andre:hover {
  filter:grayscale(40%)
}


/*TRILHA DE ESTUDOS*/

.card:hover {
  -webkit-box-shadow: 0px 0px 0px 1px var(--dark-green);
  -moz-box-shadow: 0px 0px 0px 1px var(--dark-green);
  box-shadow: 0px 0px 0px 1px var(--dark-green);
  transform: scale(1.05);
  transition: all 1s;
  z-index: 10;
}



.dropdown-menu p {
  min-width: 80px;
}


.dropdown-item img {
  width: 15%;
}

.dark-btn {
  background-color: var(--dark-green);
  color: white;
  width: 90%;
}

/* .dark-btn:hover {
  
} */

/*NASA PHOTO OF THE DAY*/


.carousel-inner img {
  height: auto;
  width: auto;
}
