/* .slides {
  height: 75vh;
} */

:root {
  --dark-green: #253336;
  --light-green: #23383C;
  --lighter-green: #213D42;
  --light-grey: #5c696e;
}

html, body {
  overflow-x: hidden;
}

/*NAV*/

.navbar {
  background-color: var(--dark-green);
  max-width: 100vw;
}

.navbar-brand img {
  height: 50px
}

.menu-mobile{
  background-color: var(--dark-green);
  border: 0;
}

.menu-mobile .bar {
  /* display: block; */
  width: 45px;
  height: 3px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background: #FFF;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .menu-mobile .bar {
    display: block
  }
}
  

#menu-mobile.is-active .bar:nth-child(2){
  opacity: 0;
}

#menu-mobile.is-active .bar:nth-child(1){
  transform: translateY(11px) rotate(45deg)
}

#menu-mobile.is-active .bar:nth-child(3){
  transform: translateY(-11px) rotate(-45deg)
}

/*BANNER*/

.welcomeBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 15rem 0;
  
}


@media (min-width:576) {
  .welcomeBanner {
    height: 100vh;
  }
}

/*Colocandoo background no pseudoelemento before para poder aplicar um filtro de grayscale apenas a ele*/
.welcomeBanner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('./assets/images/welcome.jpg');
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("./assets/images/welcome.jpg");
  filter: grayscale(80%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  z-index: -10;
}


.welcomeBanner h1 {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.andrePhoto {
  height: 60%;
  width: 60%;
}

@media (min-width: 768px) {
  .andrePhoto {
    height: 50%;
    width: 50%;
  }
}

@media (min-width:1200px) {
  .andrePhoto {
    height: 40%;
    width: 40%;
  }
}


#andre {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

#andre:hover {
  filter:grayscale(40%)
}


/*TRILHA DE ESTUDOS*/



.card:hover {
  -webkit-box-shadow: 0px 0px 0px 3px var(--dark-green);
  -moz-box-shadow: 0px 0px 0px 3px var(--dark-green);
  box-shadow: 0px 0px 0px 3px var(--dark-green);
  transform: scale(1.05);
  z-index: 10;
}

.toBe {
  background-color: var(--light-grey);
  color: white;
}

.dropdown-menu p {
  min-width: 80px;
}


.dropdown-item img {
  width: 15%;
}

.dark-btn {
  background-color: var(--dark-green);
  color: white;
  width: 90%;
}

.dark-btn:hover, .dark-btn:focus {
  background-color: white;
  color: var(--dark-green);
  font-weight: bold;
}


/* .dark-btn:hover {
  
} */

/*About me*/

.my-accordion {
  /*background*/
  --bs-accordion-btn-bg: var(--dark-green);
  --bs-accordion-active-bg: var(--light-green);

  /*borda*/
  --bs-border-color: var(--light-grey);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--light-green);

  /*icone*/
  --bs-accordion-btn-active-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

  /*fonte*/
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-color: #fff;
}


/*NASA PHOTO OF THE DAY*/

.photoContainer {
  max-height: 80vh;
}

#nasaPhoto {
  max-height: 100%;
}

#nasaVideo {
  height: 80vh;
  width:80%;
}


/*Footer*/

footer {
  background-color: var(--dark-green);
  padding: 8px 12px;
}